.try{
  z-index: 12345;
  position: sticky !important;
  top: 2% !important;
}
#bale{
  color: aliceblue;
}
button{
  margin: 2px;
}
.card{
  padding: 20px;
}
.repourl{
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .try{
    z-index: -188888888;
    margin-top :30% !important;
    position: relative !important;
    margin-bottom: 0px;
  }
  .codes{
    top: 10% !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
  .p-5{
    padding: 5px !important
  }
  #bale{
    color: black;
  }
  .card{
    margin-right: 15px;

  }
  .container{
    overflow: hidden;
  }

}
