<div class="container-fluid mt-5 py-5" *ngIf="isConnected">
  <div class="loader text-center" *ngIf='loading'>
    <img src="assets/images/Spin-1s-158px.gif" alt="">
  </div>

</div>
<div class="card m-5 asidebar" *ngIf="!loading">
  <div class="wrapper p-5">
    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3 class='text-info text-center'>Profile Info</h3>
      </div>

      <ul class="list-unstyled components">
        <img src="{{details?.avatar_url}}" alt="" id='pImage' height="200px" class='text-center'>
        <h5 class='pt-5'>{{details?.name}}</h5>
        <h5 class='lead'>{{details?.login}}</h5>
        <p>{{details?.bio}}</p>
        <span class="badge badge badge-warning float-center"><a href="https://github.com/atembamanu">expore in
            github</a></span>
      </ul>
      <hr>
      <p>Followers <span class='badge badge-pill badge-info'>{{details?.followers}}</span></p>
      <p>Following <span class='badge badge-pill badge-info'>{{details?.following}}</span></p>
      <p>Public Repos <span class='badge badge-pill badge-info'>{{details?.public_repos}}</span></p>
      <hr>
    </nav>

  </div>

</div>

<!-- repositories -->
<div class="repositories m-5">
  <div class="row">

    <!-- let x of xs -->
    <div class="col-md-6" *ngFor="let repo of repos">
      <div class="card mb-4">
        <div class="mContent m-4">
          <div class="reponame lead">
            {{repo?.name}}
          </div>
          <div class="repodesc">
            {{repo?.full_name}}
          </div>
          <hr>
          <div class="row infos">
            <div class="col-md-3" *ngIf='repo?.language'>
              <div class="languageUsed ">
                <img src="assets/images/planguage.png" alt="" height="20px"> <span
                  id="language">{{repo?.language}}</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="timepassed">
                <img src="assets/images/time.png" alt="" height="20px"> <span id="timepassed">updated:
                  {{repo?.updated_at | date |timepassed}}</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="go">
                <a href="{{repo?.html_url}}"><span class="badge badge badge-warning float-right">find in
                    github</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container py-5 mt-5 text-center" *ngIf="!isConnected">
  <div class="row py-5 mt-5">
    <div class="col-md-8 text-dark py-5 mt-5">
      <h1>GithubSearch</h1>
      Whoops!
      <span class="text-danger">
        Error code 503. Service Unavailable.
        <span class="lead">status: {{status}}</span>
      </span> <br>
      HINT: Check if your internet connection is enabled or disable Airplane mode.
    </div>
    <div class="col-md-4">
      <img src="assets/images/images.png" alt="">
    </div>
  </div>

</div>
